# Quality Report
Use this file to outline the test strategy for this package.

## Version tested: [0.0.0]

## QA Owner: @rambod
## UX Owner: @rambod

## Test strategy
*Use this section to describe how this feature was tested.*
* A link to the Test Plan (Test Rails, other)
* Results from the package's editor and runtime test suite.
* Link to automated test results (if any)
* Manual test Results, [here's an example](https://docs.google.com/spreadsheets/d/12A76U5Gf969w10KL4Ik0wC1oFIBDUoRrqIvQgD18TFo/edit#gid=0)
* Scenario test week outcome
* etc.

## Package Status
This package is still in early preview, and could be changing frequently.
The UX is non-existent, but will be added.
